<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <title>Pages - Admin Dashboard UI Kit - Tables</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no" />
    <link rel="apple-touch-icon" href="/static/pages/ico/60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/pages/ico/76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/pages/ico/120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/pages/ico/152.png">
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta content="Meet pages - The simplest and fastest way to build web UI for your dashboard or app." name="description" />
    <meta content="Ace" name="author" />
    <link href="/static/assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/static/assets/plugins/jquery-scrollbar/jquery.scrollbar.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="/static/assets/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="/static/assets/plugins/jquery-datatable/media/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/plugins/jquery-datatable/extensions/FixedColumns/css/dataTables.fixedColumns.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/plugins/datatables-responsive/css/datatables.responsive.css" rel="stylesheet" type="text/css" media="screen" />
    <link class="main-stylesheet" href="/static/pages/css/pages.css" rel="stylesheet" type="text/css" />
    <!-- Please remove the file below for production: Contains demo classes -->
    <link class="main-stylesheet" href="/static/assets/css/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body class="fixed-header ">
    <!-- START PAGE-CONTAINER -->
    <div class="page-container ">
      <!-- START HEADER -->
      <div class="header ">
        <!-- START MOBILE SIDEBAR TOGGLE -->
        <a href="#" class="btn-link toggle-sidebar d-lg-none pg-icon btn-icon-link" data-toggle="sidebar">
      		menu</a>
        <!-- END MOBILE SIDEBAR TOGGLE -->
        <div class="">
          <div class="brand inline   ">
            <img src="/static/assets/img/hobiburada_logo.png" alt="logo" data-src="/static/assets/img/hobiburada_logo.png" data-src-retina="/static/assets/img/hobiburada_logo.png" width="78" height="22">
          </div>
        </div>
        <div class="d-flex align-items-center">

          <a href="/">
                    <button aria-label="" class="btn btn-primary btn-lg m-t-10" type="submit">Çıkış yap</button>
                        </a>
        </div>
      </div>
      <!-- END HEADER -->
      <!-- START PAGE CONTENT WRAPPER -->
      <div class="page-content-wrapper ">
        <!-- START PAGE CONTENT -->
        <div class="content ">
             <div class="row">
                <div class="col-lg-12">
                      <!-- START CONTAINER FLUID -->
          <div class=" container-fluid   container-fixed-lg bg-white">
            <!-- START card -->
            <div class="card card-transparent">
              <div class="card-header ">
                <div class="card-title"> Profil Düzenleme
                </div>
              </div>
              <div class="card-body">
                   <form id="form-login" class="p-t-15" role="form" method="post" action="{{ '/customer_edit' }}">
                <div class="col-lg-8">

                    <div class="row">
                    <div class="form-group form-group-default has-error">
                    <label>Course ID</label>
                    <div class="controls">
                    <input type="text"  name="CourseID" value="{{ customer_info.cust_id }}" class="form-control error"  aria-required="true" aria-invalid="true" readonly>

                    </div>
                    </div>
                    </div>
                    <div class="row">
                    <div class="form-group form-group-default has-error">
                    <label>Course Name</label>
                    <div class="controls">
                    <input type="text"  name="Name" value="{{ customer_info.cust_fname }}" class="form-control error"  aria-required="true" aria-invalid="true">
                    </div>
                    </div>
                    </div>
                    <div class="row">
                    <div class="form-group form-group-default has-error">
                    <label>Category</label>
                    <div class="controls">
                    <input type="text" name="Category" value="{{ customer_info.cust_lname }}" class="form-control error"  aria-required="true" aria-invalid="true">
                    </div>
                    </div>
                    </div>
                    <div class="row">
                    <div class="form-group form-group-default has-error">
                    <label> Level </label>
                    <div class="controls">
                    <input type="text" name="Level" value="{{ customer_info.cust_phone }}" class="form-control error"  aria-required="true" aria-invalid="true">
                    </div>
                    </div>
                    </div>
                    <div class="row">
                    <div class="form-group form-group-default has-error">
                    <label> Price</label>
                    <div class="controls">
                    <input type="text" name="Price" value="{{ customer_info.cust_address }}" class="form-control error"  aria-required="true" aria-invalid="true">
                    </div>
                    </div>
                    </div>
                    <div class="row">
                    <div class="form-group form-group-default has-error">
                    <label> Duration</label>
                    <div class="controls">
                    <input type="text" name="Duration" value="{{ customer_info.cust_bday }}" class="form-control error"  aria-required="true" aria-invalid="true">
                    </div>
                    </div>
                    </div>

                </div>
                <div class="col-lg-4">
                    <div class="row">
                    <div class="col-md-6 d-flex align-items-center justify-content-end">
                    <button aria-label="" class="btn btn-primary btn-lg m-t-10" type="submit">Kaydet</button>
                </div>
                <!-- END Form Control-->

                </div>
                </div>
              </form>
              </div>
            </div>
            <!-- END card -->
          </div>
          <!-- END CONTAINER FLUID -->
                </div>
            </div>

        </div>
        <!-- END PAGE CONTENT -->
        <!-- START COPYRIGHT -->
        <!-- START CONTAINER FLUID -->
        <!-- START CONTAINER FLUID -->
      </div>
      <!-- END PAGE CONTENT WRAPPER -->
    </div>
    <!-- END PAGE CONTAINER -->

    <!-- BEGIN VENDOR JS -->
    <script src="/static/assets/plugins/pace/pace.min.js" type="text/javascript"></script>
    <!--  A polyfill for browsers that don't support ligatures: remove liga.js if not needed-->
    <script src="/static/assets/plugins/liga.js" type="text/javascript"></script>
    <script src="/static/assets/plugins/jquery/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="/static/assets/plugins/modernizr.custom.js" type="text/javascript"></script>
    <script src="/static/assets/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="/static/assets/plugins/popper/umd/popper.min.js" type="text/javascript"></script>
    <script src="/static/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/static/assets/plugins/jquery/jquery-easy.js" type="text/javascript"></script>
    <script src="/static/assets/plugins/jquery-unveil/jquery.unveil.min.js" type="text/javascript"></script>
    <script src="/static/assets/plugins/jquery-ios-list/jquery.ioslist.min.js" type="text/javascript"></script>
    <script src="/static/assets/plugins/jquery-actual/jquery.actual.min.js"></script>
    <script src="/static/assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <script type="text/javascript" src="/static/assets/plugins/select2/js/select2.full.min.js"></script>
    <script type="text/javascript" src="/static/assets/plugins/classie/classie.js"></script>
    <script src="/static/assets/plugins/jquery-datatable/media/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="/static/assets/plugins/jquery-datatable/extensions/TableTools/js/dataTables.tableTools.min.js" type="text/javascript"></script>
    <script src="/static/assets/plugins/jquery-datatable/media/js/dataTables.bootstrap.js" type="text/javascript"></script>
    <script src="/static/assets/plugins/jquery-datatable/extensions/Bootstrap/jquery-datatable-bootstrap.js" type="text/javascript"></script>
    <script type="text/javascript" src="/static/assets/plugins/datatables-responsive/js/datatables.responsive.js"></script>
    <script type="text/javascript" src="/static/assets/plugins/datatables-responsive/js/lodash.min.js"></script>
    <!-- END VENDOR JS -->
    <!-- BEGIN CORE TEMPLATE JS -->
    <!-- BEGIN CORE TEMPLATE JS -->
    <script src="/static/pages/js/pages.js"></script>
    <!-- END CORE TEMPLATE JS -->
    <!-- BEGIN PAGE LEVEL JS -->
    <script src="/static/assets/js/scripts.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL JS -->
    <!-- END CORE TEMPLATE JS -->
    <!-- BEGIN PAGE LEVEL JS -->
    <script src="/static/assets/js/tables.js" type="text/javascript"></script>
    <script src="/static/assets/js/scripts.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL JS -->
  </body>
</html>